<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sabuj.messmanagement"
    >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.AddmoneyActivity"></activity>
        <activity android:name=".view.activity.AddCostActivity" />
        <activity android:name=".view.activity.AddmealActivity" />
        <activity android:name=".view.activity.MemberActivity" />
        <activity android:name=".view.activity.MemberLogInActivity" />
        <activity android:name=".view.activity.ManagerActivity" />
        <activity android:name=".view.activity.AllMemberActivity" />
        <activity android:name=".view.activity.addMemberActivity" />
        <activity android:name=".view.activity.MessInfoActivity" />
        <activity android:name=".view.activity.CreateMessActivity" />
        <activity android:name=".view.activity.AdminActivity" />
        <activity android:name=".view.activity.AdminSignUpActivity" />
        <activity android:name=".view.activity.adminLoginActivity" />
        <activity
            android:name=".view.activity.SplashActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.MainActivity" />
    </application>

</manifest>